<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ion-header>

  <div class="ion-text-right">

    <img src="assets/blue2.png">
  </div>
  <ion-item>


      <button onclick="history.back()" item-left> <img src="assets/back.png" class='iconDetails'> </button>
      <h1 >Choose Faculty</h1>

    </ion-item>

</ion-header>

<ion-content>

 

    <!-- Item Dividers in a List -->
    <br>
    <br>
    <ion-list>
     
      <ion-item>
        <ion-button (click)="btnClicked()" routerLinks="/eventsofcomputer">Faculity of Engineering</ion-button>
      </ion-item>
      <ion-item>
        <ion-button>Faculty of the Holy Quran and Islamic Studies</ion-button>
      </ion-item>
      <ion-item>
        <ion-button>Faculty of Business and Law</ion-button>
      </ion-item>

      <ion-item>
          <ion-button>Faculty of Science</ion-button>
      </ion-item>
        <ion-item>
          <ion-button>Faculty of Computer Science and Engineering</ion-button>
      </ion-item>

    </ion-list>

</ion-content>