<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ion-content [fullscreen]="true">
  <ion-header>
    <div class="ion-text-right">

      <img src="assets/blue2.png">
    </div>
  </ion-header>

  <ion-toolbar>
    <div class="ion-text-center">
      <ion-button (click)="btnClicked()" routerLinks="/events">Events</ion-button>

      <ion-button (click)="btnClicked1()" routerLinks="/Map">Map</ion-button>
      <br>
      <br>
      <br>
      <br>
      <br>

      <button (click)="logout()">Logout</button>

    </div>
    
  </ion-toolbar>

</ion-content>