<meta name="viewport" content="width=device-width, initial-scale=1.0">


  <ion-header >
  <div class="ion-text-right">
  
  <img src="assets/blue2.png">
  </div>
  </ion-header> 
  <ion-content [fullscreen]="true">

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group"> 

  <div class="ion-text-center">
  <h1>Login Page</h1>
  </div>
  
  <label for="uname"><b>Username</b></label>

 
  <ion-item>
    <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
  </ion-item>

  <br>
  <label for="psw"><b>Password</b></label>

  <ion-item>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
 
</div>


<ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
   
</form>
  <span class="psw"> <a href="#"> Forget password </a></span>
  <br>
  <br>
  
  
  </ion-content>