ion-content {
    --background: #ffffff;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

h1{
    color :rgb(59, 59, 59)
}
p{
    color :rgb(59, 59, 59)
}