<ion-header>
  <div class="ion-text-right">
    <img src="assets/blue2.png" />
  </div>
  <button onclick="history.back()" item-left> <img src="assets/back.png" class='iconDetails'> </button>

</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <h1>Available Events</h1>

      </ion-item>

      <ion-item>

    <div class="ion-text-left">
       
        <h1>Speed Friending Event</h1>
  
      <h3> <img src="assets/t4.png"> 20 July 2021</h3>
      <h3> <img src="assets/t3.png"> 8:30am</h3>
      <h3> <img src="assets/t2.png"> Al-johrah Hall</h3>
      <h3> <img src="assets/t1.png"> 0126572375</h3>
      <br>

    </div>
    <div class="ion-text-center">
     <img width=150px, height=200px src="assets/19.png" > 
      <ion-button  (click)="CreatePopover()">Add Event</ion-button>

    </div>

  </ion-item>
  <ion-item>

    <div class="ion-text-left">
      <h1>Teaching Green Event</h1>
 
      <h3> <img src="assets/t4.png"> 3 May 2021</h3>
      <h3> <img src="assets/t3.png"> 11:30pm</h3>
      <h3> <img src="assets/t2.png"> Faculty Hall</h3>
      <h3> <img src="assets/t1.png"> 55577325</h3>
      <br>

    </div>
    <div class="ion-text-center">
      <img width=150px, height=200px src="assets/18.png" > 
      <ion-button  (click)="CreatePopover()">Add Event</ion-button>

    </div>
  </ion-item>
</ion-list>

</ion-content>